@charset "utf-8";

$family-sans-serif: "Source Sans Pro", "Helvetica", "Arial", sans-serif;

@import "../node_modules/bulma/bulma";

.logo {
    max-width: 10rem;

    @media only screen and (min-width: $tablet) {
        order: 3;
        max-width: 12rem;
    }
}

.custom-responsive-menu {
    @media only screen and (min-width: $tablet) {
        li:nth-child(1) {
            order: 3;
        }

        li:nth-child(2) {
            order: 1;
        }

        li:nth-child(3) {
            order: 2;
        }

        li:nth-child(4) {
            order: 4;
        }

        li:nth-child(5) {
            order: 5;
        }
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 2rem;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    border-radius: 0.25rem;
    margin-bottom: $column-gap * 2;
}
